<ion-content [fullscreen]="true">
  <div class="header">
    <ion-title class="title">
      Ingresa tu usuario
      <p class="subtitle">para recuperar tu contraseña</p>
    </ion-title>
  </div>
  <div>
    <ion-item>
      <ion-input placeholder="Username" class="input"></ion-input>
      <ion-icon name="person-outline"></ion-icon>
    </ion-item>
  </div>
  <ion-fab vertical="bottom" horizontal="center" style="margin-bottom:20%;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
