<ion-content [fullscreen]="true">
  
  <div class="header">
    <ion-title class="tittle">RegistrApp</ion-title>
    <p class="subTitle"> Ingresa tus datos para acceder</p>
  </div>
    <div class="ion-padding">
      <ion-item>
        <ion-input name="User" placeholder="email" class="input" type="email" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="Pass" placeholder="Password" class="input" type="password" ></ion-input>
      </ion-item>
    </div>
    <div class="forgotpassword">
      <a >Forgot password?</a>
    </div>
    <div class="but">
    <ion-button (click)="validateLog()"><ion-icon name="chevron-forward"></ion-icon></ion-button>
  </div>
</ion-content>